*{
    margin: 0;padding: 0;box-sizing: border-box;list-style: none; transition:  all 0.6s ease-in-out;
}

body{
    height: 100vh;
    width: 100%;
    font-family: 'Gill sans-serif';
}
.negro{
    background-color: black;    
}
.blanco{
    background-color: lightseagreen;
}
.rojo{
    background-color: red;
}
.violeta{
    background-color: violet;
}

.container{
    height: 100%;
    width: 100%;
    background: linear-gradient(#55acee 0%,black 95%);
    display: grid;
    place-items: center;
    & .tarjeta{
        height: 600px auto;
        width: 50%;
        max-width: 350px;
        min-width: 350px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 5px 20px 20px -5px rgba(0, 0, 0, 0.527);/*1_desplazamito en x, Se mueve abajo,3.sombra del objeto, reduccion*/
        }

        & .encabezado{
            height: 150px;
            width: 100%;
            background-color:#8a9990;
            border-radius: 12px 12px 0 0;
            position: relative;
            overflow: hidden; /* OVERFLOW: se utiliza para controlar todo elemento que se desborde de mi contenedor */
        }

        }
        .imagen_person{
            height: 125px;
            width: 125px;
			position: relative;
			right: -10px;
			top:-80px;
			padding: 10px;
			border-radius: 50%;
			box-shadow: 0 0 8px -3px black;
            background-image: url("../img/persona.jpg");
            background-position: center;
            background-size: cover; 
            margin-bottom: -50px;
        }
        & .carta{
            height: 50%;
            width: 100%;
            background-color:#b8dffa;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            .imagen_person{
                position: relative;
                background-color: yellow;
            }
            

            & span{
                width: 80%;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 20px;
                text-wrap: balance;
                text-align: center;
            }

            & .info{
                height: 180px auto;
                width: 80%;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 20px;
                margin-bottom: 20px;
                margin-top: 20px;

            }

            .caja{
                display: flex ;
                width: 80%;
                padding: 20px;
                justify-content: space-between;
                .hijo{
                    display: grid ;
                    place-items:  center;
                    width: 30px;
                    height: 30px;
                    margin-bottom: 20px;
                }

            }
        } 
        & .desc_producto{
            height: 180px;
            width: 100%;
            background-color:#89ccff;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        & .botonera{
            display: grid;
            height: 74px;
            width: 100%;
            background-color:#4ab5f3;
            padding: 10px;
            border-radius: 0 0 12px 12px;
            place-items: center;

            & button{
                padding: 5px 15px;
                border: solid 0.5px rgb(97, 138, 252);
                background-color: #c0e0f8; 
                transition:  all 0.3s ease-in-out;
            }

            & button:hover{
                /* box-shadow: 0 0 15px -3px rgba(0,0,0,0.329); */
                background-color: rgb(105, 161, 233);
                color: white;
                cursor: pointer;    
            }
        }
/*Anidado de clases*/

@media screen and (min-width: 700px) {
    .container{
        background: linear-gradient(150deg, lightblue 20%, skyblue 80%);
    }
}


